In [2]:
#p2-9
print('hello,',end='')
print('world')

hello,world

In [3]:
print(format(100,'8d'))

     100

In [4]:
print(format(1000000,'3d'))

1000000

In [6]:
print(format(100,'8x'))

      64

In [7]:
print(format(100,'8o'))

     144

In [9]:
print(format(100,'8b'))

 1100100

In [10]:
#p2-11py
print(format(12345,'10d'))
print(format(12,'10d'))
print(format(1234567,'10d'))

print(format(12,'10d'))
print(format(1234567,'10d'))
print(12345,'10d')

print(format(1234567,'10d'))
print(format(12345,'10d'))
print(format(12,'10d'))

     12345
        12
   1234567
        12
   1234567
12345 10d
   1234567
     12345
        12

In [12]:
#p2-12py
print(format(12345,'10d'),end='')
print(format(12,'10d'),end='')
print(format(1234567,'10d'))

     12345        12   1234567

In [14]:
#p2-13
print(format(12345,'10d'),format(12,'10d'),format(1234567,'10d'))
print(format(12,'10d'),format(1234567,'10d'),format(12345,'10d'))
print(format(1234567,'10d'),format(12345,'10d'),format(12,'10d'))

     12345         12    1234567
        12    1234567      12345
   1234567      12345         12

In [15]:
print('%10d'%(12345))

     12345

In [16]:
#p2-15-1
print('|%8.2f|'%(123.456))
print('|%8.2f|'%(1.23456))
print('|%8.2f|'%(12.3456))
print('|%8.2f|'%(12345.6))

|  123.46|
|    1.23|
|   12.35|
|12345.60|

In [17]:
#p2-15-2
print('|%.2f|'%(123.456))
print('|%.2f|'%(1.23456))
print('|%.2f|'%(1234.56))
print('|%.2f|'%(12.3456))
print('|%.2f|'%(12345.6))

|123.46|
|1.23|
|1234.56|
|12.35|
|12345.60|

In [18]:
#p2-16
print('|%30s|'%('learning python now!'))

|          learning python now!|

In [19]:
print('|%-30s|'%('learning python now!'))

|learning python now!          |

In [21]:
#p2-17
print('%10d%10d%10d'%(12345,12,1234567))
print('%10d%10d%10d'%(12,1234567,12345))

     12345        12   1234567
        12   1234567     12345

In [22]:
#p2-18py
print('{0}'.format(123))
print('{0},{1}'.format(123,12345))
print('{0:5d},{1:7d}'.format(123,12345))
print('x={0:5d},y={1:7d}'.format(123,12345))
print('x={p:5d},y={q:7d}'.format(p=123,q=12345))

123
123,12345
  123,  12345
x=  123,y=  12345
x=  123,y=  12345

In [23]:
print('a={0:7.2f},b={1:9.2f}'.format(123.456,123.456))

a= 123.46,b=   123.46

In [24]:
print('{p:9s},{q:7s}'.format(p='kiwi',q='banana'))
print('{p:>9s},{q:>7s}'.format(p='kiwi',q='banana'))
print('{p:^9s},{q:^7s}'.format(p='kiwi',q='banana'))

kiwi     ,banana
     kiwi, banana
  kiwi   ,banana

In [27]:
#p3-7
question1='Is your birthday in set1?\n'+\
    '1 3 5 7\n'+\
    '9 11 13 15\n'+\
    '17 19 21 23\n'+\
    '25 27 29 31\n'+\
    '\n enter 1 for yes and yes and 0 for no:'

In [36]:
#p3-8-1
print('hello,world')
print('hello,',end='')
print('world')
s='hello,'+\
'world'
print(s)

hello,world
hello,world
hello,world

In [37]:
#3-9
8/3

2.6666666666666665

In [38]:
8//3

2

In [39]:
8**2

64

In [40]:
100**0.5

10.0

In [41]:
8%3

2

In [42]:
#3-9
i=100
j=100
k=100
print(i,j,k)

100 100 100

In [43]:
i=j=k=200
print(i,j,k)

200 200 200

In [44]:
a,b=100,200
print(a,b)

100 200

In [45]:
a=100
b=200
a=b
b=a
print(a,b)

200 200

In [46]:
a=100
b=200
temp=a
a=b
b=temp
print(a,b)

200 100

In [47]:
a=100
b=200
a,b=b,a
print(a,b)

200 100

In [48]:
#3-12
a=10
a+=2
print(a)

12

In [49]:
a*=5
print(a)

60

In [50]:
a//=3
print(a)

20

In [51]:
a%=6
print(a)

2

In [52]:
k=eval(input())

3

In [53]:
k

3

In [54]:
print(k)

3

In [55]:
#3-13
s=eval(input('please enter an integer;'))

please enter an integer;45

In [56]:
s

45

In [57]:
s2=input('please enter a string:')

please enter a string:hello,world

In [58]:
s2

'hello,world'

In [59]:
print(s2)

hello,world

In [60]:
str2=input('please enter an integer:')

please enter an integer:88

In [61]:
print(str2)

88

In [62]:
str2

'88'

In [63]:
#3-14
str2=eval(input('please enter an integer:'))

please enter an integer:88

In [64]:
num=str2+80
print(num)

168

In [65]:
#3-15
num1=eval(input('please enter number1:'))

please enter number1:100

In [66]:
num2=eval(input('please enter number2:'))

please enter number2:200

In [67]:
print(num1+num2)

300

In [68]:
#3-15
num1,num2=eval(input('enter two numbers separated by comma:'))

enter two numbers separated by comma:100,200

In [69]:
print(num1+num2)

300

In [70]:
#3-16
num1,num2,num3=eval(input('enter three numbers separated by commas.'))
total=num1+num2+num3
average=total/3
print('total=%d,and average=%f'%(total,average))

enter three numbers separated by commas.100,150,170
total=420,and average=140.000000

In [71]:
print('total=%d,and average=%.2f'%(total,average))

total=420,and average=140.00

In [74]:
import os

In [75]:
os.getcwd()

'C:\\Users\\A109230088'